body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(https://i.etsystatic.com/10868806/r/il/6e5775/4079544308/il_fullxfull.4079544308_c7w1.jpg);
    background-size: cover;
    background-position: center;
}

#nav-bar {
    background-color: white;
    color: black;
}

.nav-link img {
    border-radius: 45%;
}

.nav-link {
    color: antiquewhite;
    margin-right: 7px;
    
}

.nav-link:hover{
    color: yellow !important
}

form {
    background-color: white;
    padding: 17px;
    border-radius: 7px;
    box-shadow: 0px 4px 6px rgba(red, green, blue, alpha);
    margin-bottom: 25px;
}